body { background: #9facad;
}

.container {
  min-height:2000px;
  background: #f9f6f4;
  margin-top:10px;
  
}

.scroll-line{
  position:fixed; 
  height:15px;
  top:0;
  left:0;
  background:#c65f25;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
  
}
